@import './color.scss';

.moment-container {
    width: 100%;

    .ant-table-wrapper {
        width: 100%
    }
    .moment-tag {

        min-width: 60px;
        text-align: center;
        border: 1px solid #24BE8B;
        box-sizing: border-box;
        border-radius: 13.5px;
        margin-right: 8px;
        padding: 1px;
    }

    .form-container {
        background-color: white;
        width: 100%;
        padding: 12px !important
    }
}

.ant-table-thead > tr > th {
    background-color: white !important;
    border-bottom: 0px !important;
}

.ant-table-thead > tr > th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    width: 0px !important;
}
// td.ant-table-column-sort {
//     background-color: white !important;
// }